<!DOCTYPE html>
<html>

{% load static %}
{% load crispy_forms_tags %}

	<head>
		<meta charset="UTF-8">
		<!-- For IE -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<!-- For Resposive Device -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>AJAY KUMAR GARG ENGINEERING COLLEGE, GHAZIABAD, UTTAR PRADESH</title>

		<!-- Favicon -->
		<link rel="icon" type="image/png" sizes="56x56" href="{% static 'images/fav-icon/icon.png' %}">
		<!-- Main style sheet -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
		<!-- responsive style sheet -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">	
	</head>

	<body>
		<div class="main-page-wrapper">
			<!-- ===================================================
				Loading Transition
			==================================================== -->

			<header class="theme-menu-wrapper menu-style-one">
				<div class="container">
					<div class="header-wrapper clearfix">
						<!-- Logo -->
						<div class="logo float-left tran4s">
							<a href="/"><img alt="Logo" src="{% static 'images/home/akgeclogo.png' %}"></a>
						</div><!-- ============================ Theme Menu ========================= -->
						<nav class="theme-main-menu navbar" id="mega-menu-wrapper">
							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header">
								<button aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar-collapse-1" data-toggle="collapse" type="button"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
							</div><!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse" id="navbar-collapse-1">
								<a class="mb_none" href="/"><span class="logo_span">AJAY KUMAR GARG ENGINEERING COLLEGE</span>
								<p class="logo_para">(Affiliated to Dr. APJ Abdul Kalam Technical University, Lucknow, UP, College Code - 027)</p></a>
								<ul class="nav" style="float: right;">
									<li class="menu-list">
										<a class="tran3s" href="/">Home</a>
									</li>
									<li class="dropdown-holder menu-list">
										<a class="tran3s" href="#">Event</a>
										<ul class="sub-menu">
											<li>
												<a href="{% url 'register_form' 'Technical' %}">Technical</a>
											</li>
											<li>
												<a href="{% url 'register_form' 'Festival' %}">Festival</a>
											</li>
											<li>
												<a href="{% url 'register_form' 'Sports' %}">Sports</a>
											</li>
										</ul>
									</li>
									<li>
										<a class="tran3s" href="contact-us.html">Contact Us</a>
									</li>
								</ul>
							</div><!-- /.navbar-collapse -->
						</nav><!-- /.theme-main-menu -->
					</div><!-- /.header-wrapper -->
				</div>
			</header><!-- /.theme-menu-wrapper -->
			<!-- 
			=============================================
				Theme Inner Banner
			============================================== 
			-->
			<div class="inner-banner">
				<div class="opacity">
					<div class="container">
						
					</div> <!-- /.container -->
				</div> <!-- /.opacity -->
			</div> <!-- /.inner-banner -->

	        

			<!-- Sign-Up Modal -->
			<div class="signUpModal theme-modal-box">
				<div class="modal-dialog">
				    <!-- Modal content-->
				     <p>
					    We've emailed you instructions for setting your password, if an account exists with the email you entered.
					    You should receive them shortly.
					  </p>
					  <p>
					    If you don't receive an email, please make sure you've entered the address you registered with,
					    and check your spam folder.
					  </p>   
				</div> <!-- /.modal-dialog -->
			</div> <!-- /.signUpModal -->

					 
	        <footer>
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-6">
							<div class="footer-logo">
							<h6>About Us</h6>
								<p>It was some time before he obtained any answer, and the reply, when made, was unpropitious.</p>
								<ul>
									<li><a href="https://www.facebook.com/Official.AKGEC" class="tran3s"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="https://twitter.com/AKGECGZB" class="tran3s"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="https://www.youtube.com/channel/UCgIS1zKJvXTXcmxEPxWa4rA" class="tran3s"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
									<li><a href="https://www.linkedin.com/school/ajay-kumar-garg-engineering-college-ghaziabad" class="tran3s"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-2 col-sm-3 footer-list">
							<h6>Company</h6>
							<ul>
								<li><a href="about-us.html" class="tran3s">About Us</a></li>
								<li><a href="blog-grid.html" class="tran3s">Blog</a></li>
								<li><a href="#" class="tran3s">Become a Teacher</a></li>
								<li><a href="contact-us.html" class="tran3s">Contact</a></li>
								<li><a href="faq.html" class="tran3s">Faq &amp; Policy</a></li>
							</ul>
						</div>
						<div class="col-md-2 col-sm-3 footer-list">
							<h6>Product</h6>
							<ul>
								<li><a href="#" class="tran3s">Education Pack</a></li>
								<li><a href="#" class="tran3s">Eucation Starter</a></li>
								<li><a href="#" class="tran3s">Features &amp; Skills</a></li>
								<li><a href="#" class="tran3s">Pricing</a></li>
								<li><a href="#" class="tran3s">Sell Your Products</a></li>
							</ul>
						</div>
						<div class="col-md-2 col-sm-6 footer-list">
							<h6>About us</h6>
							<ul>
								<li><a href="blog-list.html" class="tran3s">Blog</a></li>
								<li><a href="#" class="tran3s">Toll Free Number</a></li>
								<li><a href="#" class="tran3s">Press Releases</a></li>
								<li><a href="#" class="tran3s">Jobs</a></li>
								<li><a href="#" class="tran3s">Feedback</a></li>
							</ul>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12 footer-subscribe">
							<h6>Subscribe Us</h6>
							<p>This sounded a very good reason, and Alice was quite pleased.</p>
							<form action="#">
								<input type="text" placeholder="Your Email">
								<button class="tran3s p-bg-color"><i class="flaticon-envelope-back-view-outline"></i></button>
							</form>
						</div>
					</div> <!-- /.row -->
				</div> <!-- /.container -->

				<div class="bottom-footer">
					<div class="container">
						<p class="float-left">&copy; 2020 <a href="#" class="tran3s p-color">Copyright</a>. All rights reserved.AKGEC</p>	
					</div>
				</div> <!-- /.bottom-footer -->
			</footer>


			<!-- Scroll Top Button -->
			<button class="scroll-top tran3s">
				<i class="fa fa-angle-up" aria-hidden="true"></i>
			</button>
			<!-- Js File_________________________________ -->

			<!-- j Query -->
			<script type="text/javascript" src="{% static 'vendor/jquery.2.2.3.min.js' %}"></script>
			<!-- Bootstrap Select JS -->

			<!-- Bootstrap JS -->
			<script type="text/javascript" src="{% static 'vendor/bootstrap/bootstrap.min.js' %}"></script>
		</div> <!-- /.main-page-wrapper -->
	</body>
</html>